/.git/
/.idea/
/.settings/
/target/
/out/
*.classpath
*.project
*.iml
/.vscode/
**/rebel.xml

codesafe-web/src/main/resources/database.properties
codesafe-web/src/main/resources/sysConfig.properties

codesafe-web/src/main/resources/applicationContext.xml

sh.exe.stackdump

/webapp/
codesafe-web/src/main/webapp/app2/
